/* * section a */ 
header{
    width: 100%;
    background-color: rgb(109, 42, 131);
    padding-top: calc(15.625%/2 - 11px);
    padding-bottom: calc(15.625%/2 - 11px);
    position:relative;
    border: 1px solid black;
    box-sizing: border-box;
}

/* section b */
nav{
    width: 100%;
    background-color: rgb(138, 85, 156);
    padding-top: calc(31.25%/2 - 11px);
    padding-bottom: calc(31.25%/2 - 11px);
    position:relative;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

/* section i */
footer{
    width: 100%;
    background-image: linear-gradient(rgb(136, 192, 142), rgb(69, 151, 77));
    float: left;
    padding-top: calc(16.6666%/2 - 11px);
    padding-bottom: calc(16.6666%/2 - 11px);
    position:relative;
    border: 1px solid black;
    box-sizing: border-box;
}

@media only screen and  (min-width: 768px) {
    header{
        padding-top: calc(10.419%/2 - 11px);
        padding-bottom: calc(10.419%/2 - 11px);
        position:relative;
        background-color: rgb(87, 24, 69);
    }
    nav{
        width: 20.833%;
        padding-top: calc(62.5%/2 - 11px);
        padding-bottom: calc(62.5%/2 - 11px);
        position:relative;
        float:left;
        clear: right;
        background-color: rgb(129, 38, 103);
    }
    
    main{
        float:left;
        width: 79.168%;
    }

    footer{
        width: 79.168%;
        float: left;
        padding-top: calc(15.625%/2 - 11px);
        padding-bottom: calc(15.625%/2 - 11px);
        background-image: linear-gradient(rgb(255, 87, 51), rgb(255, 195, 0));

    }
}