/* section c */
#c{ 
    width: 100%;
    background-color:rgb(167,127,181);
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: calc(26.04166%/2 - 11px);
    padding-bottom: calc(26.04166%/2 - 11px);
    position:relative;
}

/* section d */
#d{
    background-color:rgb(196, 170, 205);
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: calc(26.04166%/2 - 11px);
    padding-bottom: calc(26.04166%/2 - 11px);
    position:relative;
}
.flexContainer{
    display:flex;
    flex-direction: row;
}
/* section e-f-g-h */
p{
    width: 50%;
    
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: calc(52.083%/2 - 11px);
    padding-bottom: calc(52.083%/2 - 11px);
    position:relative;
    background-image: linear-gradient(rgb(196, 170, 205), rgb(136, 192, 142));
}

    
@media only screen and  (min-width: 415px) {
/* section c */

.gridContainer :nth-child(3){ 
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:2;
  grid-row-end: 3;
}
/* section d */
.gridContainer :nth-child(4){
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start:2;
    grid-row-end: 3;
}
    /*e-f  */
.gridContainer :nth-child(5){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end: 4;
}
/* g-h */
.gridContainer :nth-child(6){
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start:3;
    grid-row-end: 4;
}

}
@media screen and (min-width: 415px) and (max-width: 768px) {

    /* section c */

    .gridContainer :nth-child(3), .gridContainer :nth-child(4){ 
        background-image: linear-gradient(rgb(105, 45, 119), rgb(214, 162, 51));
    }
    p{
        background-image: linear-gradient(rgb(151, 111, 23), rgb(241, 212, 148));
    }
    

    header{
        background-image: linear-gradient(rgb(8, 1, 63), rgb(62, 43, 150));
    }
    nav{
        background-image: linear-gradient(rgb(21, 5, 143), rgb(99, 80, 185));
    }
    footer{
        background-image: linear-gradient(rgb(174, 92, 250), rgb(148, 53, 148));
    }

}
