body{
    background: rgb(216, 216, 216);
    font-size: 20px;
    text-align: center;
    min-width: 480px;
    box-sizing: border-box;
}

/* section a */
header{
    width: 100%;
    background-color: red;
    padding-top: calc(15.625%/2 - 11px);
    padding-bottom: calc(15.625%/2 - 11px);
    position:relative;
    border: 1px solid black;
    box-sizing: border-box;
}

/* section b */
nav{
    width: 100%;
    background-color:yellow;
    padding-top: calc(31.25%/2 - 11px);
    padding-bottom: calc(31.25%/2 - 11px);
    position:relative;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

/* section e-f-d-f */
p{
    width: 50%;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: calc(52.083%/2 - 11px);
    padding-bottom: calc(52.083%/2 - 11px);
    position:relative;
    background: purple;
}

/* section c */
main section:first-child{ 
    width: 100%;
    background-color:blue;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: calc(26.04166%/2 - 11px);
    padding-bottom: calc(26.04166%/2 - 11px);
    position:relative;
}

/* section d */
main section:nth-child(2){
    background-color:rgb(107, 107, 185);
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: calc(26.04166%/2 - 11px);
    padding-bottom: calc(26.04166%/2 - 11px);
    position:relative;
}


footer{
    width: 100%;
    background: green;
    float: left;
    padding-top: calc(16.6666%/2 - 11px);
    padding-bottom: calc(16.6666%/2 - 11px);
    position:relative;

}

@media all and  (min-width: 768px) {
    *{color: white;
    }

    body{
        
        max-width: 960px;
        margin: 0 auto;
    }
    header{
    padding-top: calc(10.41%/2 - 11px);
    padding-bottom: calc(10.41%/2 - 11px);
    position:relative;
    }
    nav{
        width: 20.8%;
        padding-top: calc(62.5%/2 - 11px);
    padding-bottom: calc(62.5%/2 - 11px);
    position:relative;
    float:left;
    clear: right;
    }

    main{
        float:left;
        width: 79.1%;
    }
    /* /* section c */
main section:first-child{ 
    width: 50%;
    float:left;
    background-color:blue;
    padding-top: calc(52.63%/4 - 11px);
    padding-bottom: calc(52.63%/4 - 11px);
   
}
/* section d */
main section:nth-child(2){
    background-color:rgb(107, 107, 185);
    width: 50%;
    float:left;
    padding-top: calc(52.63%/4 - 11px);
    padding-bottom: calc(52.63%/4 - 11px);
    
}
p{
    float:left;
    width: 25%;
    padding-top: calc(26.041%/2 - 11px);
    padding-bottom: calc(26.041%/2 - 11px);
}

}
